body {
  font-family: Arial;
  text-align: center;
  background: #f4f6f8;
  padding: 20px;
}

button {
  margin: 6px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #2d89ef;
  color: white;
}

button:hover {
  background: #1b6fd1;
}

#langBox button {
  font-size: 12px;
  padding: 5px 8px;
}
